<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <title>银行卡信息</title>    
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.2/weui.min.css">
    <link rel="stylesheet" href="../css/index.css"> 
    
</head>
<body>
    <div id="root">
        <div class="weui-progress">
            <div class="weui-progress__bar">
                <div class="weui-progress__inner-bar js_progress" style="width: 60%;"></div>
            </div>
        </div>
        <div class="weui-cells totalCess">
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>银行</p>
                </div>
                <div class="weui-cell__ft" >{{bankType}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>银行卡号</p>
                </div>
                <div class="weui-cell__ft" >{{bankNum}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>姓名</p>
                </div>
                <div class="weui-cell__ft" >{{personName}}</div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__bd">
                    <p>手机号</p>
                </div>
                <div class="weui-cell__ft" >{{personTel}}</div>
                
            </div>
    
        </div>
        <div class="footer">
                <a href="javascript:;" class="weui-btn weui-btn_primary" @click="next">下一步</a>   
        </div>
    </div>
</body>
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.3/weui.min.js"></script>
    <script src="../js/common/vue.js"></script>
    <script src="../js/common/zepto.min.js"></script>
    <script src="../js/common/JanesiBridges.js"></script>
    <script>
        new Vue({
            el:'#root',
            data:{
                dataFlag3:'1',
                bankType:'',
                bankNum:'',
                personName:'',
                personTel:'',
            },
            created(){
                this.getData();
            },
            mounted(){

            },
            methods:{
                getData(){
                    console.log(localStorage.getItem("bankType"))
                    //
                    if(localStorage.getItem("dataFlag3")){
                        this.dataFlag3=localStorage.getItem("dataFlag3");    
                    }
                    //如果已经提交过数据就不再接收修改过的数据,
                    if(this.dataFlag3=='1'){
                        this.bankType=localStorage.getItem("bankType");
                        this.bankNum=localStorage.getItem("bankNum");
                        this.personName=localStorage.getItem("personName");
                        this.personTel=localStorage.getItem("personTel");
                       
                        
                        
                        localStorage.setItem("prebankType",this.bankType)
                        localStorage.setItem("prebankNum",this.bankNum)
                        localStorage.setItem("prepersonName",this.personName)
                        localStorage.setItem("prepersonTel",this.personTel)
                    }else{

                        this.bankType=localStorage.getItem("prebankType");
                        this.bankNum=localStorage.getItem("prebankNum");
                        this.personName=localStorage.getItem("prepersonName");
                        this.personTel=localStorage.getItem("prepersonTel");
                    }
                    
                },
                //下一步提交过数据就将开关关闭，不再接收新数据
                //数据提交在这里,以及跳转页面接口
                next(){
                    localStorage.setItem("dataFlag3",'0');    
                    var reqApi = '/app/goldenbox/user/save_bank';
                    window.JanesiApi.sendApi(reqApi, 'post', {
                        'bankCard':this.bankNum,
                        'bankName':this.bankType,
                        'userName':this.personName,
                        'phone':this.personTel,
                    }, function (res) {
                        console.log(res)
                        if(res.result){
                            // var timeStamp = Date.parse(new Date());
                            // window.location.href = '/app/goldenbox/home/index?time='+timeStamp;

                            window.JanesiBridge.callNative('open', {
                            'url': 'loanMarket-app/templates/operator.html'
                            });
                        }
                    })
                }
            }
        })
    </script>
</html>