<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>常见问题</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="../js/common/setDpr.js"></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            width: 100%;
            background: #fff;
            color: #333;
            font-size: 0.28rem;
            line-height: 0.56rem;
            padding: 0 0.3rem;
            box-sizing: border-box;
        }

        pre {
            white-space: pre-wrap;
        }

        h4 {
            text-align: center;
            font-size: 0.32rem;
        }
    </style>
</head>

<body>

    <div class="con">
        <!--<h4>常见问题</h4>-->
        <pre>    
如果您在使用产品时遇到什么问题，可以联系客服邮箱 lz@janesi.com，请反馈期间保持您的手机畅通，客服将在10个工作日内与您电话联系并协助您解决相关产品问题。
1、什么是借款额度和期限？
举例：目前提供的借款额度为： 4000元/3期，额度为：4000元，期限为： 3期（7-90天），现金将拨付至您所绑定的银行储蓄卡。您需要在每笔借款到期日按时还款，以维护和提升您的信用水平。
2、推送借款多久能出推荐结果？
您选择并使用智能推荐后，申请会被立即递交给相关金融机构，各个产品的审核时间不同：具体以各产品的审核时间为准。
3、为什么确定贷款后一直不放款？什么时候能放款？
不同产品的放款时间（从确认贷款到款项到帐）不同：具体放款时间以银行放款时间为准。
4、为什么申请贷款被拒绝？
审核结果是由系统对您的资质进行综合评定给出的，审核被拒绝是因为您的资质不符合产品要求。您申请某个产品被拒绝后，还可以申请其他产品缓解资金需求。

                </pre>



    </div>




</body>

</html>
