<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>忘记密码</title>
    <script src="../js/common/setDpr.js"></script>
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/forgetPassword.css">
</head>

<body>
    <div id="root">
        <div class="introduce">
            <div class="introTit">
                <img src="../img/Shape@2x.png" alt="">
                <span>服务密码是什么</span>
            </div>
            
            <p>
                服务密码是移动、联通、电信提供的身份凭证，如忘记可参考下面的方法找回
            </p>
        </div>
        <div class="method">
            <div class="introTit">
                <img src="../img/Shape@2x.png" alt="">
                <span>忘记服务密码怎么办</span>
            </div>
            <ul>
                <li>
                    <div class="imgDv">
                        <img src="../img/Oval@2x.png" alt="">
                    </div>
                    <div class="docDv">
                        <p>移动用户</p>
                        <p><span class="tit">方法一：</span>手机拨打<span class="num">10086</span>，转“人工客服”</p>
                        <p><span class="tit">方法二：</span>手机登录http://www.10086.cn</p>
                        <p>选择身份→登录→忘记密码</p>
                    </div>
                </li>
                <li>
                    <div class="imgDv">
                        <img src="../img/Oval Copy@2x.png" alt="">
                    </div>
                    <div class="docDv">
                        <p>联通用户</p>
                        <p><span class="tit">方法一：</span>手机拨打<span class="num">10010</span>，转“人工客服”</p>
                        <p><span class="tit">方法二：</span>手机登录http://wap.10010.com</p>
                        <p>登录→忘记密码</p>
                    </div>
                </li>
                <li>
                    <div class="imgDv">
                        <img src="../img/Oval Copy 2@2x.png" alt="">
                    </div>
                    <div class="docDv">
                        <p>电信用户</p>
                        <p><span class="tit">方法一：</span>手机拨打<span class="num">10000</span>，转“人工客服”</p>
                        <p><span class="tit">方法二：</span>手机登录http://wapzt.189.cn</p>
                        <p>登录→忘记密码</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>
<script src="../js/common/vue.js"></script>
<script src="../js/common/zepto.min.js"></script>
<script src="../js/common/JanesiBridges.js"></script>
<script>
    var app = new Vue({
        el: '#root',
        data: {
           
        },
        created() {

        },
        mounted() {
           
        },
        methods: {
            
        }
    })
</script>

</html>